section {
	display: block;
	min-height: 400px;
	width: 100%;
	background-color: white;
  	/*padding: 4em 1em;*/
}

.alt-section {
	background-color: #E6E8E6;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	line-height: 1.5;
	margin: 0;
	color: #191919;
}

a {
	text-decoration: none;
}

header {
	margin-top: 3.6em;
	height: 800px;
	background: white;
}

#nav {
	position: fixed;
	height: 3.5em;
	top: 0;
	width: 100%;
	opacity: 0.95;
	font-weight:bold;
	background: #F15025;
	padding: 0 2em 0 2em;
	color: white;
	display: flex;
	flex-direction: row;
	list-style: none;
}

#nav > * {
	margin-left: 1.5em;
}

#nav-links a {
	display: table-cell;
  	vertical-align: middle;
	color: white;
}

ul#nav-links {
	height: 100%;
	margin: 0;
	display: flex;
}

#nav-links li {
	padding-left: 1.2em;
	padding-right: 1.2em;
	display: table;
	float: left;
	height: 100%;
}

#nav-links li.active {
	background-color: #F28060;
}

#nav-logo a img {
	margin-top: 0.4em;
	height: 2.9em;
}

footer {
	height: 300px;
	width: 100%;
	bottom: 0;
	display: block;
	background-color: #F94D1D;
}
